# Ignore python notebook checkpoints
.ipynb_checkpoints

# Ignore python venv folder
.venv*

# Node modules (root and all subfolders)
**/node_modules/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

__pycache__/

.env
**/.env

.github

.bedrock_agentcore.yaml
**/.bedrock_agentcore.yaml
staffcast_gateway_config.json
**/staffcast_gateway_config.json
